<div class="panel panel-default">
  <div class="panel-heading">
    Editing <%= @user.display_name %>
  </div>

  <div class="panel-body">
    <%= render 'form', user: @user %>
  </div>

  <div class="panel-footer">
  </div>
</div>