<div class="container">
<div class="card card-info card-inverse">
  <h1 class="card-header">Import Members</h1>
  <div class="card-block">
    <%= form_tag import_users_path, multipart: true do %>
      <div class="row">
        <div class="col-xs-9 col-md-11">
          <div class="input-group">
            <label class="input-group-btn">
              <span class="btn btn-default">
                Browse&hellip; <%= file_field_tag :file, style: "display: none;" %>
              </span>
            </label>
            <input type="text" class="form-control" readonly />
          </div>
        </div>
        <div class="col-xs-3 col-md-1 text-right">
          <div>
            <%= submit_tag "Import", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "controls" %>
</div>