<h1>Member List <small>(<%= pluralize(@users.all.count, "member").titleize %>)</small></h1>


<div class="text-center">
  <%= will_paginate(@users, renderer: BootstrapPagination::Rails) %>
</div>

<%= render partial: "user_row", locals: {users: @users} %>

<div class="text-center">
  <%= will_paginate(@users, renderer: BootstrapPagination::Rails) %>
</div>