@import "font-awesome/css/font-awesome.min.css";
@import "rails_bootstrap_forms.css";

html {
  height: 100%;
  width: 100%;

  background-image: url(mopar-m.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #272b30;
  background-position: center center;

  -webkit-background-size: 100vmin;
  -moz-background-size: 100vmin;
  -o-background-size: 100vmin;
  background-size: 100vmin;  
}

body {
  background-color: transparent;
}

.pagination {
  @media (max-width: 480px) {
    li { 
      display: none;
      &.active, &.prev, &.next {
        display: inline
      }
    }
  }
}

.buffer-badges {
  margin-left: 2px;
  margin-right: 2px;
}

.table tbody>tr>td.align-middle{
    vertical-align: middle;
}

.top-buffer { margin-top:20px; }