@import "font-awesome/css/font-awesome.min.css";
@import "rails_bootstrap_forms.css";

html {
  height: 100%;
  width: 100%;

  background-image: url(mopar-m.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #272b30;
  background-position: center center;

  -webkit-background-size: 100vmin;
  -moz-background-size: 100vmin;
  -o-background-size: 100vmin;
  background-size: 100vmin;  
}

body {
  background-color: transparent;
}

.pagination {
  @media (max-width: 480px) {
    li { 
      display: none;
      &.active, &.prev, &.next {
        display: inline
      }
    }
  }
}

.buffer-badges {
  margin-left: 2px;
  margin-right: 2px;
}

.table tbody>tr>td.align-middle{
    vertical-align: middle;
}

.top-buffer { margin-top:20px; }

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}