@media print {
  body {-webkit-print-color-adjust: exact;}
}

body {
  font-family: 'Liberation Sans';
  font-weight: bold;
  font-style: normal;

  text-align: center;
}

.id-container {
  display: inline-block;

  width: 2.25in;
  height: 3.5in;

  background-color: #0100FB;
  border: 1px solid black;
  overflow: hidden;
}

.front-content {
  position: relative;
  top: 0.5in;               /* 48px */
  height: 2.75in;           /* 264px */
  background-color: #FFF;
}

.back-content {
  background-color: #FFF;
  height: 100%;
}

.name {
  font-size: 18pt;
  font-size: calc(216/4.32);
  height: 40px;

  white-space: nowrap;
}

.vertical-center {
  vertical-align: middle;
}

.logo {
  width: 100%;
  height: 120px;

  /*background-image: image-url('new-logo-id-cropped');*/
  background-image: image-url('current-logo-id');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: 40px;
}

.username {
  font-size: 14pt;

  position: absolute;
  top: 168px;
  width: 100%;
  height: 30px;
}

.vehicle {
  height: 0.5in;
  font-size: 9pt;
  
  position: absolute;
  top: 198px;
  width: 100%;
  height: 50px;
}

.footer {
  position: absolute;
  top: 248px;

  width: 100%;
  height: 16px;
}

.join-date {
  font-size: 6pt;
  display: inline;
  width: 75%;

  text-align: left;
  float: left;
  margin-left: 3px;
  margin-right: -3px;
}

.qr-code {
  display: inline;
  width: 25%;

  text-align: right;
  float: right;
  margin-top: -27px;
}

/* QR Code CSS */
table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}

td {
  border-left: solid 10px #000;
  padding: 0; 
  margin: 0; 
  width: 0px; 
  height: 10px; 
}

td.black { border-color: #000; }
td.white { border-color: #fff; }

/*
 *  BACK COVER
 *  ALAMO CITY LX MODERN MOPAR
 */
.vertical-image {
  width: 1.125in;
  height: 3.5in;

  display: inline;
}

.acl {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;    
  background-image: image-url('aclx-text-1');

  float: left;

  margin-top: -1.125in;
  margin-left: 20px;
}

.mm {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;  
  background-image: image-url('aclx-text-2');

  float: right;

  margin-top: 1.125in;
  margin-right: 20px;
}

.rotate90 {
  height: 1.125in;
  width: 2.5in;
  
  -ms-transform:     rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform:         rotate(90deg);
}