<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello,</p>
    <p>
      A new administrator just registered at the ACLX management portal.<br />

      <dl>
        <dt>Email</dt>
        <dd><%= @admin.email %></dd>
      </dl>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
  </body>
</html>